<!DOCTYPE html>
<head>
    {% load staticfiles %}

    <link rel="stylesheet" href="{% static 'form.css' %}" />
    <meta charset="UTF-8">

</head>
<title>Forms</title>
<body>
    <header></header>
    <form action="#" method="POST">
        <ol>
        {% for item in item_list %}
            {% if item.0 == 'mcq' %}
                <labelabc><br>{{ item.0.0 }}</labelabc>
                <div class="radioOptions">
                    {% for option in item.0 %}
                    <label><li><input type="radio" name="options">{{ option. }}</li></label>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
        <div class="checkbox">
            <labelabc><br>Your checkbox question 1</labelabc>
            <div class="checkboxOptions">
                <label><input type="checkbox" name=checkbox/>Checkbox 1</label>
            </div>
        </div>

        <div class="singleLine">
            <labelabc><br>This is your single line text</labelabc>
            <div class="singleLineTextArea">
                <input type="text" name="singleLineTextSpace" placeholder="Write here" />
            </div>
        </div>

        <div class="multiLine">
            <labelabc><br>This is a multiline text<br></labelabc>
            <textarea class="textArea" cols="30" rows="5" placeholder="Write your heart out here.."></textarea>
        </div>

        <div class="submit">
            <br><br><input type="button" name=submit value="Submit" />
        </div>
    </form>
    <footer>
        <em>Footer goes here.. © me</em><br>
        <a href="http://www.rit.ac.in" target="_blank" <h3><i>Rajiv Gandhi Institute of technology, Kottayam</i></h3></a>
    </footer>

</body>