<!DOCTYPE html>
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}" />
    <meta charset="UTF-8">
</head>


<body>
    <div class="container" id="mainpage">
        <header>Welcome to online feedback system</header>
        <p>Login to continue</p>

    <button class="mainbutton" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

        <div id="id01" class="modal">

          <form class="modal-content animate" action="{% url 'feedback_index' %}">
            <div class="imgcontainer">
              <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal" >&times;</span>
              <img src={% static 'img/1407306657Ritktym.jpg' %} alt="Avatar" class="avatar">
            </div>

            <div class="container" id="loginDetails">
              <labelabc>
              <input type="text" placeholder="Enter Username" name="username" required></labelabc><br>

              <labelabc>
              <input type="password" placeholder="Enter Password" name="password" required></labelabc><br>

              <button type="submit" name="submit" value="submit" >Authenticate</button>
            </div>
          </form>
        </div>
    </div>
</body>

